<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <ol>
        <li><a href="/">Root</a></li>
        <li><a href="{% url 'seconda_app:index2'%}">Index seconda app</a></li><!--Volevo dargli "index.html" ma così si va a recuperare l'altro-->
        <li><a href="{% url 'seconda_app:es_if'%}">Es if</a></li>
        <li><a href="{% url 'seconda_app:if_else_elif'%}">If else elif</a></li>
        <li><a href="{% url 'seconda_app:es_for'%}">For</a></li>
    </ol>
</body>
</html>