{%extends "base.html"%}
{%block content%}
    {%if validlink%}
        <p>Please enter and confirm new password</p>
        <form action = "" method = "post">
            {%csrf_token%}
            <table>
                <tr>
                    <td>{{form.new_password1.errors}}
                    <label for "id_new_password1">Nuova password:</label></td>
                    <td>{{form.new_password1}}</td>
                </tr>
                <tr>
                    <td>{{form.new_password2.errors}}
                    <label for "id_new_password2">conferma password:</label></td>
                    <td>{{form.new_password2}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type = "submit" value = "Cambia password"></td>
                </tr>
            </table>
        </form>
        {%else%}
        <h1>Reset password fallito</h1>
        <p>Questo link non è più valido. Effettua una nuova richiesta di cambio password</p>
    {%endif%}
{%endblock%}