{%extends "base.html"%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {{block.super}} | Chi siamo {% endblock title %}</title>
</head>
<body>
    {%block content%}
    <h1>Chi siamo</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut libero et diam ultrices interdum eu vel sapien. Quisque lobortis pulvinar arcu, non vulputate diam congue at. Nulla nec libero varius, lacinia lacus quis, scelerisque est. Cras orci massa, vestibulum sed enim ut, sollicitudin molestie nisi. Etiam placerat ultrices mattis. Nunc vitae nisl urna. Sed malesuada quam quis rhoncus scelerisque. Nunc ac tellus euismod, lacinia lectus iaculis, porttitor leo. Donec sem lorem, tristique quis rutrum non, facilisis sit amet nulla. Integer sit amet sem odio. Nunc condimentum venenatis bibendum. Ut ullamcorper erat eu libero dictum, non suscipit urna semper. Integer ac enim sit amet nibh mollis volutpat eu ac metus.

        Sed placerat dui ac elit interdum congue. Praesent consectetur eros id ullamcorper laoreet. Suspendisse arcu odio, luctus faucibus cursus id, finibus in justo. Vestibulum tortor purus, tempus in odio non, sollicitudin auctor nunc. Curabitur efficitur mauris hendrerit arcu dapibus, non ullamcorper quam dapibus. Vivamus erat urna, scelerisque a lacus quis, venenatis hendrerit libero. Proin accumsan malesuada quam non feugiat. Suspendisse molestie, purus et venenatis malesuada, augue justo auctor quam, sed fringilla velit purus ac lectus. Pellentesque bibendum nulla vel magna mattis feugiat.
        
        Cras justo velit, vulputate in ullamcorper et, efficitur molestie elit. Cras egestas, nisi et scelerisque egestas, est diam auctor leo, eget condimentum lorem purus dapibus sem. Vivamus rutrum feugiat sollicitudin. Suspendisse non ex elementum, commodo est at, auctor tellus. Proin ac cursus urna, et condimentum odio. Donec egestas tristique lobortis. Mauris vel ligula felis.
        
        Vivamus malesuada, mauris sit amet fermentum suscipit, ex felis commodo ipsum, eu tincidunt metus ante ac enim. Ut placerat, felis eget fringilla ultrices, ipsum metus sollicitudin leo, ac suscipit nibh lacus quis leo. Proin sagittis vitae dui id consequat. Nulla fringilla aliquam maximus. Quisque ac sapien vel magna hendrerit varius. Mauris quis sapien porta, faucibus tortor at, elementum turpis. Aliquam fermentum eleifend nunc, vitae pretium justo maximus quis. Proin a ante laoreet tortor sagittis hendrerit. Vestibulum euismod elit quis faucibus lacinia. Praesent porttitor quam vel felis aliquet ultricies.
        
        Ut nec blandit nibh. Curabitur vel sodales massa. Phasellus eu ipsum sed mauris faucibus gravida. Nunc tincidunt massa et nunc placerat, nec eleifend magna imperdiet. Donec ut condimentum metus. Morbi lacinia sed orci vel molestie. Nunc egestas est magna. Etiam sagittis et augue vel scelerisque. Aliquam mauris risus, blandit ac velit dapibus, vehicula consectetur ex. Cras quam tortor, aliquam sit amet nibh a, tempor vulputate nisi. In hac habitasse platea dictumst. Nullam non posuere dui. Sed ac volutpat magna, ut sodales nisl. Pellentesque condimentum, nulla ac rutrum efficitur, lectus ligula sollicitudin magna, sed commodo felis nulla id nibh. Proin ut imperdiet ipsum.</p>
    {%endblock content%}
</body>
</html>