{% extends "base.html"%}
{%block title%}
    {%if all == True %}
        Tutti gli articoli
    {% else %}
        Articoli di {{articoli.0.giornalista}}
    {% endif %}
{%endblock title%}

{%block content%}
    {% for articolo in articoli %}
        <p><strong>Titolo: </strong><a href = "{% url 'news:articolo_detail' articolo.id %}">{{articolo.titolo}}</a></p>    
        <p><strong>Contenuto: </strong>{{articolo.contenuto}}</p>
        <p><strong>Autore: </strong><a href = "{% url 'news:giornalista_detail' articolo.giornalista.id %}">{{articolo.giornalista}}</a></p>
        <hr>
    {%endfor%}
{%endblock content%}